<html>
<head>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}
</style>
</head>
<body>
<table border="1" cellpadding="1" cellspacing="1" style="width:500px">
	<thead>
		<tr>
			{% for header in csv_header.split(",") %}
        <th style="border: 1px solid black; padding: 8px 16px;">{{ header }}</th>
      {% endfor %}
		</tr>	
	</thead>
    <tbody> 
        {% for host in csv_file.list %}
          <tr>
              {% for header in headers.split(",") %}
              <td style="border: 1px solid black; padding: 8px 16px;">{{ host[header] }}</td>
              {% endfor %}
          </tr>
        {% endfor %}
    </tbody>
</table>

</html>
