<html>
<head>
<style>
table {
  border-collapse: collapse;
  border="1";
  cellpadding="1";
  cellspacing="1";
  style="width:500px;
}

th, td {
  text-align: center;
  padding: 8px 16px;
  border: 1px solid black; 
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}
</style>
</head>
<body>
<table>
	<thead>
		<tr>
			{% for header in csv_header.split(",") %}
        <th>{{ header }}</th>
      {% endfor %}
		</tr>	
	</thead>
    <tbody> 
        {% for sw in switch_list.list %}
          <tr>
              {% for header in csv_header.split(",") %}
                <td 
                  {% if sw[header] == "FAIL" %}
                      style="color:red"
                  {% endif %}
                > {{ sw[header] }}</td>    
              {% endfor %}
          </tr>
        {% endfor %}
    </tbody>
</table>

</html>
